In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [101]:
dataset = pd.read_csv('train.csv')

In [65]:
dataset = pd.read_csv('test.csv')

In [66]:
dataset.head(1)

,ID,Age,Customer_Segment,Region,Preferred_Channel,Employment_Status,Annual_Income,Spending_Score,Savings_Amount,Loan_Amount,...,In_Person_Purchases,Customer_Tenure,Credit_Score,Avg_Transaction_Value,Num_Bounced_Checks,Account_Balance,Referral_Count,Loyalty_Score,Has_Credit_Card,Has_Loan
0,1,27,Bronze,East,Phone,Retired,32276.5,50,7014.87,17819.23,...,17,11,226.53,42.28,0,4308.42,1,9.0,1.0,0.0

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1983 entries, 0 to 1982
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1983 non-null   int64
 1   Age                    1983 non-null   int64
 2   Customer_Segment       1983 non-null   object
 3   Region                 1983 non-null   object
 4   Preferred_Channel      1983 non-null   object
 5   Employment_Status      1983 non-null   object
 6   Annual_Income          1983 non-null   float64
 7   Spending_Score         1983 non-null   int64
 8   Savings_Amount         1983 non-null   float64
 9   Loan_Amount            1983 non-null   float64
 10  Years_with_Bank        1983 non-null   int64
 11  Transaction_Count      1983 non-null   int64
 12  Online_Purchases       1983 non-null   int64
 13  In_Person_Purchases    1983 non-null   int64
 14  Customer_Tenure        1983 non-null   int64
 15  Credit_Score           1983 non-null   float64
 16  Avg_Transaction_Value  1983 non-null   float64
 17  Num_Bounced_Checks     1983 non-null   int64
 18  Account_Balance        1983 non-null   float64
 19  Referral_Count         1983 non-null   int64
 20  Loyalty_Score          1983 non-null   float64
 21  Has_Credit_Card        1983 non-null   float64
 22  Has_Loan               1983 non-null   float64
dtypes: float64(9), int64(10), object(4)
memory usage: 325.4+ KB

In [68]:
dataset.isnull()

,ID,Age,Customer_Segment,Region,Preferred_Channel,Employment_Status,Annual_Income,Spending_Score,Savings_Amount,Loan_Amount,...,In_Person_Purchases,Customer_Tenure,Credit_Score,Avg_Transaction_Value,Num_Bounced_Checks,Account_Balance,Referral_Count,Loyalty_Score,Has_Credit_Card,Has_Loan
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1979,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1980,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1981,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1982,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [69]:
dataset.isnull().sum()

ID                       0
Age                      0
Customer_Segment         0
Region                   0
Preferred_Channel        0
Employment_Status        0
Annual_Income            0
Spending_Score           0
Savings_Amount           0
Loan_Amount              0
Years_with_Bank          0
Transaction_Count        0
Online_Purchases         0
In_Person_Purchases      0
Customer_Tenure          0
Credit_Score             0
Avg_Transaction_Value    0
Num_Bounced_Checks       0
Account_Balance          0
Referral_Count           0
Loyalty_Score            0
Has_Credit_Card          0
Has_Loan                 0
dtype: int64

In [70]:
(dataset.isnull().sum()/dataset.shape[0])*100

ID                       0.0
Age                      0.0
Customer_Segment         0.0
Region                   0.0
Preferred_Channel        0.0
Employment_Status        0.0
Annual_Income            0.0
Spending_Score           0.0
Savings_Amount           0.0
Loan_Amount              0.0
Years_with_Bank          0.0
Transaction_Count        0.0
Online_Purchases         0.0
In_Person_Purchases      0.0
Customer_Tenure          0.0
Credit_Score             0.0
Avg_Transaction_Value    0.0
Num_Bounced_Checks       0.0
Account_Balance          0.0
Referral_Count           0.0
Loyalty_Score            0.0
Has_Credit_Card          0.0
Has_Loan                 0.0
dtype: float64

In [71]:
dataset['Customer_Segment']

0         Bronze
1       Platinum
2       Platinum
3         Bronze
4         Bronze
          ...
1978    Platinum
1979        Gold
1980      Silver
1981      Silver
1982      Bronze
Name: Customer_Segment, Length: 1983, dtype: object

In [72]:
dataset['Customer_Segment'][0]

'Bronze'

In [73]:
dataset['Customer_Segment'][1]

'Platinum'

In [74]:
dataset['Customer_Segment'][4]

'Bronze'

In [75]:
x = dataset['Customer_Segment'][4]

In [76]:
test = pd.read_csv('test.csv')

In [77]:
train = pd.read_csv('test.csv')

In [78]:
print("\nshow missing value:")
print(train.isnull().sum()[train.isnull().sum() > 0 ])

show missing value:
Series([], dtype: int64)

In [79]:
print("show duplicates:")
test = test.drop_duplicates()

show duplicates:

In [80]:
print("show missing value:")
print(test.isnull().sum()[test.isnull().sum() > 0 ])

show missing value:
Series([], dtype: int64)

In [100]:
missing_values = test.isnull().sum()
missing_values = missing_values[missing_values > 0]
if missing_values.empty :
    print("No missing value seen", dataset)
elif missing_values:
    print("missing value found")

No missing value seen         ID  Age Customer_Segment Region Preferred_Channel Employment_Status  \
0        1   27           Bronze   East             Phone           Retired
1        2   26         Platinum   West            Online        Unemployed
2        3   24         Platinum   West            Branch          Employed
3        4   39           Bronze   East            Online     Self-Employed
4        5   34           Bronze   West             Phone        Unemployed
...    ...  ...              ...    ...               ...               ...
1978  1979   44         Platinum  North            Online     Self-Employed
1979  1980   30             Gold  North             Phone          Employed
1980  1981   19           Silver  North            Online     Self-Employed
1981  1982   27           Silver   West             Phone           Retired
1982  1983   37           Bronze   East             Phone     Self-Employed

      Annual_Income  Spending_Score  Savings_Amount  Loan_Amount  ...  \
0          32276.50              50         7014.87     17819.23  ...
1          46684.36               4         7024.32     32107.05  ...
2          43157.47              19         5164.62     12007.58  ...
3          50095.72              92         6613.02     18061.85  ...
4          59949.10               9         8528.55     19868.64  ...
...             ...             ...             ...          ...  ...
1978       70493.22              52         9168.38     27492.57  ...
1979       66910.25              11         6214.04     21102.00  ...
1980       51171.77               7         8703.62     27661.89  ...
1981       85394.21              79         6397.21     16022.39  ...
1982       62281.49              91         7528.12     31429.83  ...

      In_Person_Purchases  Customer_Tenure  Credit_Score  \
0                      17               11        226.53
1                      15               14        498.39
2                      14               13        151.16
3                      20                3        328.97
4                      25                3        455.50
...                   ...              ...           ...
1978                   17               11        204.51
1979                   24                6        383.19
1980                   17                5        200.91
1981                   22                8        452.94
1982                   20                8        194.91

      Avg_Transaction_Value  Num_Bounced_Checks  Account_Balance  \
0                     42.28                   0          4308.42
1                     54.16                   0          3268.86
2                     56.16                   1          4008.94
3                     57.60                   1          4807.83
4                     40.94                   0          6766.05
...                     ...                 ...              ...
1978                  35.84                   0          4999.88
1979                  55.73                   0          8459.96
1980                  62.05                   0          7811.33
1981                  19.58                   0          8264.80
1982                  45.32                   0         10752.54

      Referral_Count  Loyalty_Score  Has_Credit_Card  Has_Loan
0                  1            9.0              1.0       0.0
1                  4            8.0              0.0       0.0
2                  2            7.0              0.0       0.0
3                  3            4.0              0.0       0.0
4                  2            1.0              1.0       0.0
...              ...            ...              ...       ...
1978               1            8.0              0.0       0.0
1979               1            3.0              1.0       0.0
1980               5           10.0              1.0       1.0
1981               0            4.0              1.0       1.0
1982               4            4.0              1.0       0.0

[1983 rows x 23 columns]